.form-card {
  box-shadow: 1px 3px 2px var(--shadow);
}

.medicamentos-grid {
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.grid-med {
  grid-column: span 1;
  grid-row: span 1;
}